<%- include("partials/header.ejs") %>

<h1>About Parkwhere</h1>
<p>
  Parkwhere is born out of a capstone project as part of my webdev effort. Parkwhere aims to help users find cost optimal parking within 500m of where they are going, without having to bring an umbrella. 
</p>

<%- include("partials/footer.ejs") %>