<%- include("partials/header.ejs") %>


  <h1>Where are you going today?</h1>

  <p>
    Tell us where you are going today to begin.
  </p>

  <form action="/checkAddress" method="POST">
    <div class="form-group">
        <input name="postalCode" type="text" class="postal-input" placeholder="Enter address" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("partials/footer.ejs") %>